footer{
    background-color: #E8B4B7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "links logo designers";
    align-items: center;
    justify-items: center;
    height: 180px;
    width: 100%;

    .contacto_footer{
        grid-area: links;
        text-align: center;
        h5{
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 400;
        }
        .buttons{
            ul{
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                li{
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    i{
                        background-color: #EC5A61;
                        color: #E8B4B7;
                        border-radius: 50%;
                        padding: 10px;
                        font-size: 30px;
                        transition: 0.2s;
                        &:hover{
                            background-color: #c24e54;
                        }
                    }
                }
            }
        }
        .mail_footer{
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                font-weight: 400;
            }
        }
        .location_footer{
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    .logo_footer{
        grid-area: logo;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        h1{
            font-family: 'Julius Sans One', sans-serif;
            font-size: 25px;
            font-weight: 400;
        }
        img{
            width: 60px;
            margin-bottom: 10px;
            margin-top: 0;
        }
    }
    .btn_responsive{
        display: none;
    }
    .design_footer{
        grid-area: designers;

        .title_footer2{
            display: none;
        }

        h5{
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 600;
            text-align: center;
        }
        ul{
            list-style: none;
            li{
                margin-right: 10px;
                margin-left: 10px;
                margin-top: 5px;
                margin-bottom: 8px;
                i{
                    background-color: #EC5A61;
                    color: #E8B4B7;
                    border-radius: 50%;
                    padding: 3px;
                    font-size: 15px;
                    margin-right: 5px;
                    
                }
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }

}

@media (max-width: 1115px) {
    footer{
        width: 100%;
        .logo_footer{
            h1{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 768px) {
    footer{
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'logo'
                             'btn'
                             'links'
                             'designers';
        
        
        .logo_footer{
            margin-top: 20px;
            height: 97px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
    
            .titulo_logo{
                font-size: 22px;
                margin-left: 10px;
                width: 200px;
                
            }

            .logo_svg{
                width: 90px;
                height: 90px;
            }
        }
        .btn_responsive{
            display: block;
            background: #EC5A61;
            width: 80vw;
            height: 1px;
            border: 1px solid #EC5A61;
            margin-top: 10px;
        }
        .contacto_footer{
            margin-top: 50px;
            
    
            .buttons{
                margin-top: 10px;
            }
            .mail_footer{
                margin-top: 10px;
            }
        }
        .design_footer{
            background: #F39498;
            padding: 15px;
            width: 100%;
            margin-top: 50px;

            .title_footer1{
                display: none;
            }

            .title_footer2{
                display: block;
            }
            
            h5{
                font-size: 4vw;
                text-align: left;
                margin-left: 10px;
            }

            .design_list_resp{
                display: flex;
                justify-content: space-between;
                

                .design_resp1{
                    padding: 20px 0;
                   

                    p{
                        margin-top: 15px;
                    } 
                }

                .design_resp2{
                    padding: 20px 0;
                    

                    p{
                        margin-top: 15px;
                    }
                }           
            }   
        }
    }

    @media (max-width: 520px) {
        .design_list_resp{
            justify-content: space-around;
            .design_resp1{
                p{
                    font-size: 14px;
                }
    
            }
            .design_resp2{
                p{
                    font-size: 14px;
                }
                
            }           
        }
        
    }
}