@media (max-width:1024px) {
    .sectionAll{
        display: flex;
        flex-flow: column;
        width: 100vw;
        justify-content: center;
    }
    .sectBranding{
        display: block;
    }

    .sectDigital{
        display: none;
    }

    .sectComunicacion{
        display: none;
    }

    .sidebarServicios{
        width: 100vw;
        height: 8vh;
        margin-top: 80px;
        margin-bottom: 8px;
        background: #E8B4B7;
        .sidebar_List{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content:space-between;
            height: 8vh;
        }
        .linkSidebar{
            width: 33%;
            height: 10vh;
            text-align: center;
            padding: 1.3vw;
            font-size: 2.3vw;
        }
    }
    .projects_branding{
        width: 100vw;
        text-align: center;
        .branding_calzados{
            padding-bottom: 15px;
            border-bottom:#E8B4B7 1px solid;
            .imagen_calzados{
                width:100vw;
                img{
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                }
            }
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    width: 90%;
                    padding-left: 10%;
                    text-align: left;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-weight: 600;
                }
        
                .list_Projects{
                    list-style: none;
                    text-align: left;
                    padding-left: 10%;
                    li::before{
                        content: "\2022";
                        color: #EC5A61A6;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    
                }
            }
    
        }
    
        .branding_elza{
            margin-top: 15px;
            padding-bottom: 40px;
            .imagen_elza{
                width:100vw;
                img{
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                }
            }
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    width: 90%;
                    padding-left: 10%;
                    text-align: left;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-weight: 600;
                }
        
                .list_Projects{
                    list-style: none;
                    text-align: left;
                    padding-left: 10%;
                    li::before{
                        content: "\2022";
                        color: #EC5A61A6;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    
                }
            }
        }
        
    }
    .projects_digital{
        width: 100vw;
        text-align: center;
        .digital_mesa{
            padding-bottom: 15px;
            border-bottom:#E8B4B7 1px solid;
            .imagen_mesa{
                width:100vw;
                img{
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                }
            }
            .digital_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    width: 90%;
                    padding-left: 10%;
                    text-align: left;
                }
    
                .digital_title{
                    font-family: 'DM Serif Display', serif;
                    font-weight: 600;
                }
        
                .list_Projects{
                    list-style: none;
                    text-align: left;
                    padding-left: 10%;
                    li::before{
                        content: "\2022";
                        color: #EC5A61A6;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    
                }
            }
    
        } 
        .digital_exessure{
            margin-top: 15px;
            padding-bottom: 40px;
            .imagen_exessure{
                width:100vw;
                img{
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                }
            }
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    width: 90%;
                    padding-left: 10%;
                    text-align: left;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-weight: 600;
                }
        
                .list_Projects{
                    list-style: none;
                    text-align: left;
                    padding-left: 10%;
                    li::before{
                        content: "\2022";
                        color: #EC5A61A6;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    
                }
            }
        }
        
    }
    .projects_comunicacion{
        width: 100vw;
        text-align: center;
        .comunicacion_qw{
            padding-bottom: 15px;
            border-bottom:#E8B4B7 1px solid;
            .imagen_qw{
                width:100vw;
                img{
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                }
            }
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    width: 90%;
                    padding-left: 10%;
                    text-align: left;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-weight: 600;
                }
        
                .list_Projects{
                    list-style: none;
                    text-align: left;
                    padding-left: 10%;
                    li::before{
                        content: "\2022";
                        color: #EC5A61A6;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    
                }
            }
    
        }
        .comunicacion_vivero{
            margin-top: 15px;
            padding-bottom: 15px;
            border-bottom:#E8B4B7 1px solid;
            .imagen_vivero{
                width:100vw;
                img{
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                }
            }
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    width: 90%;
                    padding-left: 10%;
                    text-align: left;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-weight: 600;
                }
        
                .list_Projects{
                    list-style: none;
                    text-align: left;
                    padding-left: 10%;
                    li::before{
                        content: "\2022";
                        color: #EC5A61A6;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    
                }
            }
        }
        .comunicacion_candy{
            margin-top: 15px;
            padding-bottom: 40px;
            .imagen_candy{
                width:100vw;
                img{
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                }
            }
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    width: 90%;
                    padding-left: 10%;
                    text-align: left;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-weight: 600;
                }
        
                .list_Projects{
                    list-style: none;
                    text-align: left;
                    padding-left: 10%;
                    li::before{
                        content: "\2022";
                        color: #EC5A61A6;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    
                }
            }
        }
    }
}

@media (min-width:1024px){
    .sectionAll{
        display: flex;
        height: 911px;
    }
    
    .sidebarServicios{
        width: 16vw;
        height: 911px;
        background: #E8B4B7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
        .sidebar_List{
            list-style: none;
        }
        
        .linkSidebar{
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1vw;
            font-weight: 600;
            color: #FFFFFF;
            margin: 80px 0;
            padding-left: 40px;
            cursor: pointer;
                height: 67px;
                width: 16vw;
                line-height: 67px;
            &:hover{
                background: #FFFFFF;
    
                color: #EC5A61;
                font-weight: bold;
                
            }
        }
    
        .sectBranding{
            display: block;
        }
    
        .sectDigital{
            display: none;
        }
    
        .sectComunicacion{
            display: none;
        }
    
    .projects_branding{
        height: 911px;
        width: 80%;
        margin-top: 140px;
        padding-left: 2vw;
    
        .branding_calzados{
            display: flex;
            align-items: center;
            
    
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 10px; 
                    font-size: 1vw;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.5vw;
                    font-weight: 600;
                }
        
                .list_Projects{
                    padding-left: 1vw;
                    
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1vw;
                    
                }
            }
    
        }
    
        .branding_elza{
            display: flex;
            align-items: center;
            margin-top: 2vh;
            
    
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 10px; 
                    font-size: 1vw;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.5vw;
                    font-weight: 600;
                }
        
                .list_Projects{
                    padding-left: 1vw;
                    
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1vw;
                    
                }
            }
        }
        
    }
    
    .projects_digital{
        height: 911px;
        width: 65%;
        margin-top: 140px;
        padding-left: 2vw;
    
        .digital_mesa{
            display: flex;
            align-items: center;
            
            .digital_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 10px; 
                    font-size: 1vw;
                }
    
                .digital_title{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.5vw;
                    font-weight: 600;
                }
        
                .list_Projects{
                    padding-left: 1vw;
                    
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1vw;
                    
                }
            }
    
        }
    
        .digital_exessure{
            display: flex;
            align-items: center;
            margin-top: 20px;
            
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 10px; 
                    font-size: 1vw;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.5vw;
                    font-weight: 600;
                }
        
                .list_Projects{
                    padding-left: 1vw;
                    
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1vw;
                    
                }
            }
    
        }
    }
    
    .projects_comunicacion{
        height: 93vh;
        width: 90%;
        margin-top: 90px;
        padding-left: 2vw;
    
        .comunicacion_qw{
            display: flex;
            align-items: center;
    
            .img_com{
                width: 260px;
            }
    
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 5px; 
                    font-size: 0.9vw;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.35vw;
                    font-weight: 600;
                }
        
                .list_Projects{
                    padding-left: 1vw;
                    
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.9vw;
                    
                }
            }
    
        }
    
        .comunicacion_vivero{
            display: flex;
            align-items: center;
            margin-top: 10px;
    
            .img_com{
                width: 260px;
            }
    
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 5px; 
                    font-size: 0.9vw;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.35vw;
                    font-weight: 600;
                }
        
                .list_Projects{
                    padding-left: 1vw;
                    
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.9vw;
                    
                }
            }
        }
        
        .comunicacion_candy{
            display: flex;
            align-items: center;
            margin-top: 10px;
    
            .img_com{
                width: 260px;
            }
    
            .branding_text{
                padding-left: 1.5vw;
    
                p{
                    font-family: 'Montserrat', sans-serif; 
                    margin-top: 5px; 
                    font-size: 0.9vw;
                }
    
                .branding_title{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.35vw;
                    font-weight: 600;
                }
        
                .list_Projects{
                    padding-left: 1vw;
                    
                }
    
                .item_projects{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.9vw;
                    
                }
            }
        }
    }
}




