.sectionAllServ{
    display: flex;
    height: 100%;
}

.sidebarServicios{
    width: 289px;
    height: 911px;
    background: #E8B4B7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

    .sidebar_List{
        list-style: none;
    }
    
    .linkSidebar{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 80px 0;
        padding-left: 40px;
        cursor: pointer;
            height: 67px;
            width: 289px;
            line-height: 67px;
        &:hover{
            background: #FFFFFF;

            color: #EC5A61;
            font-weight: bold;
            
        }
    }

    .sectBranding{
        display: block;
    }

    .sectDigital{
        display: none;
    }

    .sectComunicacion{
        display: none;
    }


    .sectionServicios{
        height: 911px;
        width: 80%;

        .title_Servicios{
            padding: 10px;
            margin: 120px 20px 50px 20px;
        }
        
        .title_Servicios__titulo{
            font-family: 'DM Serif Display', serif;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .title_Servicios__texto{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
        }

        
        .tareas_servicios{
            font-weight: 600;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
        
        .list_tareas_Servicios{
            padding: 0 10px;
            margin-left: 40px;
            margin-right: 20px;
            width: 40vw;
        }
        
        .ul_servicios{
            font-size: 14px;
            margin-left: 15px;
        }
        
        .item_servicios{
            margin: 40px 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        
        .botonservicios{
            background: #EC5A61;
                    border-radius: 50px;
                    width: 209px;
                    height: 45px;
                    border: none;
                    margin-left: 10%;
                    margin-right: 50%;
                    margin-top: 50px;
                    color: #FFFFFF; 
        }

        .botonservicios_resp{
            display: none;
        }
        
        .serviciosBox{
            position: relative;
        }
        
        .imagenBox{
            position: absolute;
        }
        
        .imagen_Servicios{
            width: 490px;
            height: 490px;
            margin-left: 50px;
            
        }
        
        .back_red{
            width: 610px;
            height: 292Px;
            background: #EC5A61;
            margin-top: 250px;
        }
    }

    .sectionList_Servicios{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .sectionServicios2{
        height: 911px;
        width: 80%;

        .title_Servicios{
            padding: 10px;
            margin: 120px 20px 50px 20px;
        }
        
        .title_Servicios__titulo{
            font-family: 'DM Serif Display', serif;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .title_Servicios__texto{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
        }
        
        .tareas_servicios{
            font-weight: 600;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
        
        .list_tareas_Servicios{
            padding: 0 10px;
            margin-left: 40px;
            margin-right: 20px;
            width: 40vw;
        }
        
        .ul_servicios{
            font-size: 14px;
            margin-left: 15px;
        }
        
        .item_servicios{
            margin: 40px 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        
        .botonservicios{
            background: #EC5A61;
                    border-radius: 50px;
                    width: 209px;
                    height: 45px;
                    border: none;
                    margin-left: 10%;
                    margin-right: 50%;
                    margin-top: 50px;
                    color: #FFFFFF; 
        }

        .botonservicios_resp{
            display: none;
        }
        
        .serviciosBox{
            position: relative;
        }
        
        .imagenBox{
            position: absolute;
        }
        
        .imagen_Servicios{
            width: 490px;
            height: 490px;
            margin-left: 50px;
            
        }
        
        .back_red{
            width: 610px;
            height: 292px;
            background: #EC5A61;
            margin-top: 250px;
        }
    }

    .sectionServicios3{
        height: 911px;
        width: 80%;

        .title_Servicios{
            padding: 10px;
            margin: 120px 20px 50px 20px;
        }
        
        .title_Servicios__titulo{
            font-family: 'DM Serif Display', serif;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .title_Servicios__texto{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
        }
        
        .tareas_servicios{
            font-weight: 600;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
        
        .list_tareas_Servicios{
            padding: 0 10px;
            margin-left: 40px;
            margin-right: 20px;
            width: 40vw;
        }
        
        .ul_servicios{
            font-size: 14px;
            margin-left: 15px;
        }
        
        .item_servicios{
            margin: 40px 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        
        .botonservicios{
            background: #EC5A61;
                    border-radius: 50px;
                    width: 209px;
                    height: 45px;
                    border: none;
                    margin-left: 10%;
                    margin-right: 50%;
                    margin-top: 20px;
                    color: #FFFFFF; 
        }

        .botonservicios_resp{
            display: none;
        }
        
        .serviciosBox3{
            position: relative;
            padding-left: 30px;
        }
        
        .imagenBox{
            position: absolute;
        }
        
        .imagen_Servicios{
            width: 490px;
            height: 490px;
            margin-left: 50px;
            
        }
        
        .back_red{
            width: 610px;
            height: 292px;
            background: #EC5A61;
            margin-top: 250px;
        }
    }

//---- MEDIA QUERYS---- //

@media (max-width: 1115px) {
    .sectionServicios{
        width: 100vw;

        .list_tareas_Servicios{
            padding: 0;
            margin-left: 20px;
            margin-right: 0;
        }
        
        .title_Servicios__titulo{
            font-size: 24px;
        }
        
        .title_Servicios__texto{
            font-size: 15px;
        }

        .serviciosBox3{
            padding-left: 0;
        }
        
        .imagen_Servicios{
            width: 410px;
            height: 410px;
            margin-left: 25px;
        }
        
        .back_red{
            width: 460px;
            height: 292px;
            margin-top: 160px;
        }
    }

    .sectionServicios2{
        width: 100vw;
        
        .list_tareas_Servicios{
            padding: 0;
            margin-left: 20px;
            margin-right: 0;
        }
        
        .title_Servicios__titulo{
            font-size: 24px;
        }
        
        .title_Servicios__texto{
            font-size: 15px;
        }

        .serviciosBox3{
            padding-left: 0;
        }
        
        .imagen_Servicios{
            width: 410px;
            height: 410px;
            margin-left: 25px;
        }
        
        .back_red{
            width: 460px;
            height: 292px;
            margin-top: 160px;
        }
    }

    .sectionServicios3{
        width: 100vw;
        
        .list_tareas_Servicios{
            padding: 0;
            margin-left: 20px;
            margin-right: 0;
        }
        
        .title_Servicios__titulo{
            font-size: 24px;
        }
        
        .title_Servicios__texto{
            font-size: 15px;
        }

        .serviciosBox3{
            padding-left: 0;
        }
        
        .imagen_Servicios{
            width: 410px;
            height: 410px;
            margin-left: 25px;
        }
        
        .back_red{
            width: 460px;
            height: 292px;
            margin-top: 160px;
        }
    }
}

@media (max-width: 1024px) {
    
    .sectionAllServ{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;

        .sectionList_Servicios{
            display: flex;
            flex-direction: column;
        }
        
        .sectionServicios{
            height: 100%;

            .title_Servicios{
                margin-top: 10px;
            }

            .item_servicios{
                width: 70vw;
            }

            .botonservicios{
                 display: none;
            }

            
            .serviciosBox{
                .imagen_Servicios{
                    width: 50vw;
                    height: 52vw;
                    margin-left: 23vw;
                }
                
                .back_red{
                    width: 100vw;
                    height: 30vw;
                    margin-top: 10vw;
                }
                .botonservicios_resp{
                    display: block;
                    background: #EC5A61;
                    position: relative;
                    border-radius: 50px;
                    width: 229px;
                    height: 45px;
                    border: none;
                    margin-left: 38vw;
                    font-size: 2.3vw;
                    color: #FFFFFF;
                    margin-top: 16vw;
                    @media (max-width: 768px) {
                        width: 190px;
                    }
                    @media (max-width: 600px) {
                        width: 160px;

                    }
                    @media (max-width: 500px) {
                        width: 140px;
                        margin-left: 32%;
                    }
                }
            }
        }

        .sectionServicios2{
            height: 100%;

            .title_Servicios{
                margin-top: 10px;
            }

            .item_servicios{
                width: 70vw;
            }

            .botonservicios{
                 display: none;
            }

            .serviciosBox{
                .imagen_Servicios{
                    width: 50vw;
                    height: 52vw;
                    margin-left: 23vw;
                }
                
                .back_red{
                    width: 100vw;
                    height: 30vw;
                    margin-top: 10vw;
                }
                .botonservicios_resp{
                    display: block;
                    background: #EC5A61;
                    position: relative;
                    border-radius: 50px;
                    width: 229px;
                    height: 45px;
                    border: none;
                    font-size: 2.3vw;
                    margin-left: 38%;
                    color: #FFFFFF;
                    margin-top: 16vw;
                    @media (max-width: 768px) {
                        width: 190px;
                    }
                    @media (max-width: 600px) {
                        width: 160px;
                    }
                    @media (max-width: 500px) {
                        width: 140px;
                        margin-left: 32%;
                    }
                }
            }
        }

        .sectionServicios3{
            height: 100%;

            .title_Servicios{
                margin-top: 10px;
            }

            .item_servicios{
                width: 70vw;
            }

            .botonservicios{
                 display: none;
            }
            
            .serviciosBox3{
                padding-left: 0;
                
                .imagen_Servicios{
                    width: 50vw;
                    height: 52vw;
                    margin-left: 23vw;
                }
                
                .back_red{
                    width: 100vw;
                    height: 30vw;
                    margin-top: 10vw;
                }

                .botonservicios_resp{
                    display: block;
                    background: #EC5A61;
                    position: relative;
                    border-radius: 50px;
                    width: 229px;
                    height: 45px;
                    border: none;
                    margin-left: 38vw;
                    font-size: 2.3vw;
                    color: #FFFFFF;
                    margin-top: 16vw;
                    @media (max-width: 768px) {
                        width: 190px;
                    }
                    @media (max-width: 600px) {
                        width: 160px;

                    }
                    @media (max-width: 500px) {
                        width: 140px;
                        margin-left: 32%;
                    }
                }
            }
        }
    }
}

