@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.english{
  display: none
}
.spanish{
  display: block
}
.english_footer{
  display: none
}
.spanish_footer{
  display: grid
}

@import "header";
@import "footer";
@import "home";
@import "contact";
@import "about";
@import "services";
@import "projects"

